@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-app text-slate-900 antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
  }
}